body {
    margin: 0;
    font-family: sans-serif;
}

.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site main {
    width: 90%;
    margin: 0 auto;
    flex-grow: 1;
}

header a {
    margin: 0 0.5rem;
}